.main-home-container {
    display: flex;

    height: 370px;
    width: 725px;

    margin: auto;
    
    border-radius: 50px 50px 50px 50px;

    
}

.photo-home-description {
    background-color: #5644fc;
    
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 50px 0 0 50px;
    
}


.div-home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 40%;
    background-color: white;
    
    border-radius: 0 50px 50px 0;
}

.div-home-buttons .cadastro, .login {
    border-radius: 10px;
    
    height: 45px;
    width: 250px;
    
    border: none;
    color: white;
    
    margin: 8px;
    
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-home-buttons button {
    height:45px;
}


button p {
    font-size: 0.5rem;
}

.photo-home-description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-home-description p {
    width: 80%;
    text-align: center;

    color: white;
    font-size: 1.5rem;
    
    text-align: center;
}

.photo-home-description img {
    height: 200px;
}
