.main-container {
    display: flex;

    height: 370px;
    width: 725px;

    margin: auto;
    
    border-radius: 50px 50px 50px 50px;

    
}

.photo-description {
    background-color: #5644fc;
    
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 50px 0 0 50px;
    
    
}


.photo-description img {
    width: 350px;
    margin-right: 30px;
}


.div-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 40%;
    background-color: white;
    
    border-radius: 0 50px 50px 0;
}

.div-buttons .login-title {
    font-size: 32px;
}

button {
    background-color: #5644fc;
    border-radius: 10px;
    
    height: 45px;
    width: 250px;

    border: none;
    color: white;
    
    margin: 8px;

    cursor: pointer;
    
}

.photo-description {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-description p {
    width: 80%;
    text-align: center;

    font-family: cursive;
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #18133b;
}

button p {
    font-size: 1.2rem;
}

input {
    background-color: #5644fc;
    border: none;
    margin: 10px;

    border-radius: 10px;

    height: 45px;
    width: 250px;

    text-align: center;
    text-justify: center;
}

input::placeholder {
    color: white;
    font-size: 18px;
    text-align: center;
    
}