.main-container-signup {
    display: flex;

    height: 425px;
    width: 725px;

    margin: 50px auto;
    
    border-radius: 50px 50px 50px 50px;
    
}

.photo-description-signup {
    background-color: #5644fc;
    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border-radius: 50px 0 0 50px;
       
}



.div-buttons-signup {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    height: 425px;
    width: 40%;
    background-color: white;  
    border-radius: 0 50px 50px 0;
}

.div-buttons-signup .signin-header {
    margin-top: 7px;
    font-size: 25px;
    
}


.photo-description-signup {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-description-signup p {
    width: 80%;
    text-align: center;

    font-family: cursive;
    color: white;
    font-size: 2rem;
    
    text-align: center;
}

.div-buttons-signup button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    margin-left: 35px;
    font-weight: 300;
    height: 37px;

    background-color: #18133b;
}

.div-buttons-signup button p {
    margin-top: 3px;
    font-size: 1.1rem;
}

.photo-description-signup img {
    margin-right: 30px;

}

.div-buttons-signup input {
    background-color: #5644fc;
    border: none;
    margin: 7px;

    border-radius: 6px;

    height: 32px;
    width: 225px;

    text-align: left;
    text-justify: center;
}

.div-buttons-signup input::placeholder {
    font-size: 14px;
    color: #18133b
    
}
